/* Allgemeine Stile */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #000 !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

html {
	height: 100%;
}

/* Menü-Stil */
.menu-item .submenu {
    display: none;  /* Versteckt die Unterkategorien standardmäßig */
}

.menu-item:hover .submenu {
    display: block;  /* Zeigt die Unterkategorien an, wenn man mit der Maus über die Oberkategorie fährt */
}

.menu {
	height: auto;
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
	position: relative;
}

.menu-link, .submenu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}

.menu-link:hover, .submenu a:hover {
    background-color: #555;
}

.active-link {
    background-color: #555; 
    font-weight: bold;
}

.submenu {
    margin-left: 20px; 
    border-left: 2px solid #555; 
    padding-left: 10px; 
}

.submenu a {
    background-color: #444; 
    margin-top: 5px; 
    display: block; 
}

.question-image {
	max-width: 300px;
}

#page-container {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: row;
	flex: 1; /* Dies sorgt dafür, dass der main-content den verfügbaren Raum ausfüllt */
}

.content-wrap {
    flex-grow: 1;
	padding: 20px;
}

h1 {
    margin-top: 0; 
    font-size: 24px;
	color: #e30016;
}
h2 {
    margin-top: 0; 
    font-size: 12px; 
}

.coords-box {
	background-color: rgba(255, 255, 255); /* Halbtransparenter weißer Hintergrund */
	padding: 10px;
	margin-top: 20px;
	border-radius: 8px;
	color: #e30016;
}

.question-text {
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	color: #009fe3;
}

.start-text {
	font-family: 'Muli'; /* oder 'Lato', 'Open Sans' */
	font-weight: 400; /* Normaler Text */
    color: #333;
}

.image-credit {
	font-size: 10px;
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	 flex-shrink: 0; /* Das verhindert, dass der Footer schrumpft */
}

.footer a {
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
	transition: color 0.2s;
}

.footer a:hover {
	color: #ffd700;
}


a[href^="https://www.google.com/maps"] {
    color: #4285f4;             /* Google Blau */
    text-decoration: underline; /* Unterstreichen für bessere Erkennbarkeit */
    display: block;             /* Block-Level, damit er eine eigene Zeile einnimmt */
    margin-top: 15px;           /* Etwas Abstand zum Bild */
}

.highlight-letter {
    font-weight: bold;
    color: blue;
}

.letters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; /* Abstand zwischen den Buchstaben */
    padding: 20px;
    background-color: #eee; /* Hintergrundfarbe, die du anpassen kannst */
    border: 2px solid #333; /* Rahmen um den Buchstabencontainer */
}

.mystery-letter {
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px 5px;
    transition: color 0.3s;
}

.mystery-letter.revealed {
    color: red; /* Farbe für freigelegte Buchstaben */
}

.mystery-letter-solved {
    color: green;  // Grüne Farbe, diese können Sie nach Belieben ändern
}

.letter-group {
    display: block;
    width: 100%;
}

.transition-background {
    transition: background-color 6s;
}

@keyframes fillBlack {
    from {
        background-color: transparent;
    }
    to {
        background-color: #000;
    }
}

.correct-link {
    color: green !important;
    position: relative;
}

.correct-link::before {
    content: "\2713"; /* Unicode für das Häkchen-Symbol */
    color: green;     /* Grüne Farbe für das Häkchen */
    position: absolute;
    left: -15px;      /* Positionierung vor dem Link; passen Sie dies je nach Bedarf an */
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;  /* Größe des Symbols */
}

.hashes {
    display: none; /* Am Anfang unsichtbar */
    position: fixed; /* Wird über anderen Inhalten angezeigt */
    top: 50%; /* Mittig vertikal positionieren */
    left: 50%; /* Mittig horizontal positionieren */
    transform: translate(-50%, -50%); /* Zentriert das Element genau in der Mitte des Bildschirms */
    font-size: 80px; /* Größe der # Zeichen; anpassen, falls nötig */
    z-index: 1000; /* Stellt sicher, dass es über anderen Elementen angezeigt wird */
	text-shadow: -5px 0 #000,  
                 2px 0 #000,
                 0 2px #000,
                 0 -2px #000; 
}

.hash.white {
    color: #ffffff;
}

.hash.red {
    color: #e30016;
}

.hash.blue {
    color: #009fe3;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #c6c6c6 ;
    width: 80%;
	height: 50%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
}


@media screen and (min-width: 769px) {
    .menu {
        display: block;
    }

    #menu-toggle {
        display: none;
    }
}

/* Stile für Bildschirme mit einer Breite bis zu 768px (also für die meisten Mobilgeräte) */
@media (max-width: 768px) {
    .menu {
        width: 100%;
        padding: 10px; /* Reduziere das Padding für Mobilgeräte */
		 display: none;
    }
	
	#menu-toggle {
		display: block;
	}
    .content-wrap {
        margin-left: 0; /* Entferne den linken Abstand, um den gesamten Bildschirm auszunutzen */
        padding: 10px; /* Reduziere das Padding für Mobilgeräte */
    }

    /* Optional: Erhöhe die Schriftgröße des Menüs für bessere Lesbarkeit auf kleinen Bildschirmen */
    .menu-link, .submenu a {
        font-size: 18px;
        padding: 8px 10px;
    }
	
	/* Hamburger-Menü-Button-Styling */
    .hamburger-menu {
        display: block;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        text-align: center;
        border: none;
        cursor: pointer;
    }

    .hamburger-menu:hover {
        background-color: #555;
    }
	

}