 /* Allgemeine Stile */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #e1e6e2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

html {
	height: 100%;
}

/* Menü-Stil */
.menu-item .submenu {
    display: none;  /* Versteckt die Unterkategorien standardmäßig */
}

.menu-item:hover .submenu {
    display: block;  /* Zeigt die Unterkategorien an, wenn man mit der Maus über die Oberkategorie fährt */
}

/* Optional: Einige Grundstile für bessere Visualisierung */
.menu {
	height: calc(100vh - 60px);  /* Die Zahl 60px kann je nach Größe Ihres Headers angepasst werden. */
    width: 200px;
    background-color: #333;
    color: white;
    padding: 15px;
	position: sticky;
}

.menu-link, .submenu a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}

.menu-link:hover, .submenu a:hover {
    background-color: #555;
}

.active-link {
    background-color: #555; /* Oder eine andere Farbe Ihrer Wahl */
    font-weight: bold;
}

.submenu {
    margin-left: 20px; /* Einrückung */
    border-left: 2px solid #555; /* Linie auf der linken Seite */
    padding-left: 10px; /* Zusätzlicher Abstand von der linken Grenze */
}

.submenu a {
    background-color: #444; /* Dunklere Hintergrundfarbe */
    margin-top: 5px; /* Abstand zwischen den Links */
    display: block; /* Block-Stil, damit die Links die gesamte Breite einnehmen */
}

.question-image {
	max-width: 300px;
}
		
#page-container {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    min-height: 100vh; /* Mindesthöhe ist die Höhe des Viewports */
}

.content-wrap {
    flex: 1; /* Ermöglicht, dass dieser Bereich den verfügbaren Raum einnimmt */
	margin-left: 220px;
	padding: 40px;
	padding-top: 0; /* Entfernt den oberen Abstand */
	margin-top: 0;
}


h1 {
    margin-top: 0; /* Entfernt den oberen Abstand des Seitentitels */
    font-size: 24px; /* Ändert die Schriftgröße des Seitentitels */
}

/* Footer-Stile */
.footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.footer a {
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
	transition: color 0.2s;
}

.footer a:hover {
	color: #ffd700; /* Goldfarben für einen australischen Touch */
}